<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row">
                <div class="col-md-6 offset-3 alert-dark text-center">
                    <h2>Sent</h2>
                    <p>A confirmation email has been sent to your email address. Please check your inbox and click on the confirmation link to complete the registration process.</p>
                </div>
            </div>
        </div>
    </div>
</div>